*{
    box-sizing: border-box;
}

header{
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgb(130, 40, 38);
}

header img{
    float: left;
    padding: 10px;
    width: 80px;
    height: 80px;
}

.nav-list{
    padding-top: 20px;
    float: right;
}

.nav-list a{
    padding: 15px;
    text-decoration: none;
    color: white;
}

.nav-list a:hover{
    color: rgb(15, 125, 255);
}

main{
    margin: 200px auto;
    padding: 2%;
    display: flex;
    flex-direction: row;
}

.home{
    margin-left: 2%;
    width: 50%;
}

.home h1{
    padding: 25% 0% 0% 0%;
    font-size: 420%;
    color: rgb(130, 40, 38);
    font-family: 'Lobster', cursive;
}

.home h5{
    font-size: 180%;
    color: rgb(15, 125, 255);
    font-family: 'Lobster', cursive;
}

.home P{
    font-size: 120%;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}