
/* --- animation --- */
@keyframes padding {
    from{
        padding: 0px;
    }
    to{
        padding: 15px;
    }
}
@keyframes left {
    from{
        margin-left: -15px;
    }
    to{
        margin-left: 0px;
    }
}
@keyframes show {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes inter {
    0% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(1);
	}
}



/* --- style header --- */
*{
    box-sizing: border-box;
}

header{
    z-index: 4;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgb(130, 40, 38);
}

header img{
    float: left;
    padding: 10px;
    width: 80px;
    height: 80px;
}

.nav-list{
    padding-top: 20px;
    float: right;
}

.nav-list a{
    animation: padding 2s ;
    padding: 15px;
    text-decoration: none;
    color: white;
}

.nav-list a:hover{
    color: rgb(15, 125, 255);
}

/* --- style home section --- */
.home{
    z-index: 3;
    margin: 200px auto;
    padding: 2%;
    display: flex;
    flex-direction: row;
}

.home img{
    animation: inter 3s;
}

.home-text{
    animation: show 8s;
    margin-left: 2%;
    width: 50%;
}

.home-text h1{
    padding: 25% 0% 0% 0%;
    font-size: 420%;
    color: rgb(130, 40, 38);
    font-family: 'Lobster', cursive;
}

.home-text h5{
    font-size: 180%;
    color: rgb(15, 125, 255);
    font-family: 'Lobster', cursive;
}

.home-text P{
    font-size: 120%;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

/* --- style objective section --- */
.objective{
    padding: 2%;
    text-align: center;
    color: white;
    background-color: rgb(130, 40, 38);
    margin: 0 auto;
}

.objective h2{
    padding: 2%;
}

.my-objective{
    width: 80%;
    margin: 0 auto;
    color: rgb(130, 40, 38);
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5%;
}

.my-objective div{
    background-color: white;
    padding: 5%;
    border-radius: 3%;
}