*{
    direction: ltr;
}

.logo{
    display: inline-block;
    height: 60px;
    width: 60px;
    background-repeat: repeat;
    background-size: cover;
}

img{
    margin-left: 3px;
    margin-top: 3px;
}

header{
    background-color: white;
    border-bottom: 1px solid;
}

ul{
    margin-left: -25px;
    display: inline;
}

li{
    padding: 1px 8px;
    display: inline-block;
}

a{
    text-decoration: none;
    color: gray;
}

a:hover{
    color: black;
    font-weight: bolder;
}


/* this body*/
main{
    position: relative;
    padding: 15px;
    display: flex;
    justify-content: left;
}

section{
    width: 65%;
    top: 0;
    left: 0;
    padding-left: 10px;
    border-right: 2px solid black;
    display: inline-block;
}

aside{
    top: 0;
    width: 25%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.wedg{
    background-color: gray;
    margin: 0 auto 10px;
    width: 180px;
    height: 180px;
>>>>>>> f866f3a26fd97eef5925491d64aa9373ad45466e
}